@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
         font-family: 'Noto Sans Thai',helvetica neue,Helvetica,sans-serif;
         @apply bg-[#0F0F0F] text-white  scrollbar-thumb-white scrollbar-track-[#0F0F0F] scrollbar-thin scroll-smooth

    }
    header{
        @apply fixed  top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:pt-6 
    }

}
@layer components {
    .headerLink{
        @apply  cursor-pointer text-[16px] font-medium text-white capitalize inline-block  relative  transition duration-500
    }
    .headerLink::before{
        @apply content-[''] absolute -bottom-[5px] left-0 w-0 h-[4px]  opacity-0 transition-all duration-500 bg-white
    }
    .headerLink:hover::before{
        @apply w-full opacity-100
    }
    .headerLink.active::after{
        @apply content-[''] absolute -bottom-[5px] left-0 w-0 h-[4px]  opacity-0 transition-all duration-500 bg-white
    }

    .bannerButton{
        @apply flex items-center gap-x-2 rounded px-5 text-sm font-semibold transition
        hover:opacity-75 md:py-2 md:px-6 md:text-lg ;
    }
    .blackbg{
       
        opacity: 70%;
    }
    .liday{
        @apply cursor-pointer   
    }
    .ulday{
        @apply flex overflow-hidden text-center justify-center 
    }
    .ulday .liday{
        @apply list-none md:list-none mx-3 
    }
    .ulday .liday .linkx{
        @apply relative block no-underline uppercase  font-bold md:relative md:block md:no-underline md:uppercase
    }
    .ulday .liaction .linkx{
        @apply bg-white text-black rounded-full  my-2 -top-2 px-4 
    }

    .ulrank{
        @apply flex  overflow-hidden justify-center flex-nowrap  scroll-smooth 
    }
    .ulrank .lirank{
        @apply list-none md:list-none mx-3
    }
    .ulrank .lirank .linkxrank{
        @apply relative block no-underline uppercase  font-bold md:relative md:block md:no-underline md:uppercase
    }
    .ulrank .liactionrank .linkxrank{
        @apply bg-white text-black rounded-full  my-2 -top-2 px-4 
    }
    .active{
        @apply  rounded-full  my-2 -top-0 text-black bg-white px-2 
    }
 


    



     
}